//variaveis
/*definição cores */
$color-grey-dark:#777;
$color-green-jonas:#55cc7a;
$color-green-jonas-dark:#28B485;
$color-white:#fff;
$color-black:#000;
/*definição cores */
$altura-nav-top:250px;
/*definição largura colunas colunas */
$largura-coluna-1:8.33333;
$largura-coluna-2:16.66666%;
$largurra-coluna-3:25%;
$largura-coluna-4:33.33333%;
$largura-coluna-5:41.66666%;
$largura-coluna-6:50%;
$largura-coluna-7:58.33333%;
$largura-coluna-8:66.66666%;
$largura-coluna-9:75%;
$largura-coluna-10:83%;
$largura-coluna-11:91.66666;
$largura-coluna-12:100%;
/*Fim definição largura colunas colunas */
//Fim variaveis